$text-white: #f8f8fb;
$text-light-gray: #9f9f9f;
$text-gray: #616161;
$text-blue: #6e718f;
$text-accent: #00ba88;

$background-primary: #202020;
$background-secondary: #191b20;

// Font
$inter-font-family: Inter, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
