@use '@app/styles/variables';

.button {
    color: variables.$text-accent;
    transition: color 250ms ease;

    &:hover,
    &:focus-visible {
        color: lighten(variables.$text-accent, 10);
    }

    &:active {
        color: darken(variables.$text-accent, 10);
    }
}

.icon {
    width: 1rem;
    height: 1rem;
}

.buttonContent {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.375rem;
}
