@use '@app/styles/variables';

.title {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-block: 0.5rem;
}

.heading {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-block: 0.5rem;
    font-weight: 400;
}

.bullet {
    font-size: 1rem;
    line-height: 1.2;
}

.placeholder {
    position: absolute;
    color: variables.$text-light-gray;
    pointer-events: none;
    user-select: none;
}

.listItem {
    padding-left: 1rem;

    &::marker {
        color: inherit;
    }
}
